@model IEnumerable<Vidly.DTO.CustomerDTO>
@{
    ViewBag.Title = "Customers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customerDto in Model)
            {
                <tr>
                    <th scope="row">@customerDto.Id</th>
                    <td>@Html.ActionLink(customerDto.name, "EditCustomer", "Customers", new { id = customerDto.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>We don't have customers yet.</h1>
}




