@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (Model.Any())
{
   
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <th scope="row">@customer.Id</th>
                    <td>@Html.ActionLink(customer.name, "CustomerDetail", "Customers", new { id = customer.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>We don't have customers yet.</h1>
}




